.bannerAllam{
    background-color: whitesmoke;
    height: 45vh;
    background-image: url(./images/bannerallamelligadda.jpeg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: 80%;
}
.matter{
    height: 100%;
    /* background-color: pink; */
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    gap: 5%;

}
.black{
    font-size: 15px;
    color:  #80B82D;
}
.allveg{
    font-size: 25px;
}
.sales{
    font-size: 35px; 
    font-weight: bolder; 
}
.discover{
    padding: 10px 20px;
    border-radius: 15px;
    background-color: hsl(84, 61%, 45%);
    color: white;
    border: none;
}
.discover:hover{
    background-color: black;
}