.sellerImagesFetured{
    /* background-color: aqua; */
    height: 65vh;
    display: flex;
    justify-content: center;
    gap: 2%;
    
}
.fooditeamsFeatured{
    width: 80%;
    /* background-color: red; */
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
}
.iteams9{
    /* background-color: aliceblue; */
    width: 30%;
     margin-left: 2%; 
    display: flex;
    gap: 2%;
}
#pic61{
    background-image: url(../safiraImages/product11.jpg);
    background-size: 100%;
}
#pic51{
    background-image: url(../safiraImages/product5.jpg);
    background-size: 100%;
}
#pic41{
    background-image: url(../safiraImages/product9.jpg);
    background-size: 100%;
}
#pic31{
    background-image: url(../safiraImages/product3.jpg);
    background-size: 100%;
}
#pic21{
    background-image: url(../safiraImages/product7.jpg);
    background-size: 100%;
}#pic11{
    background-image: url(../safiraImages/product1.jpg);
    background-size: 100%;
}




.overlayBarForfeaturedproducts {
  position: absolute;
  bottom: -100px;  
  left: 180px;
  top: 65px;
  width: 90%;
  height: 40px;
  background: white; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  opacity: 0;
  transition: all 0.5s ease;
  border-radius: 100px;
  /* background-color: aqua; */
  box-shadow: 2px 2px 2px rgb(243, 158, 158);
}

.pic:hover .overlayBarForfeaturedproducts {
  bottom: 15px;
  opacity: 1;
}

.svgdiv {
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.svgdiv:hover  {
    background-color: #80B82D;
    color: white;
    border-radius: 100%;
}


.svginfo{
  position: absolute;
  bottom: 40px;  
  left: 00px;
  width: 120px;
  height: 30px;
  background: black; 
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  color: white;
  z-index: 9999;
}

/* Tooltip hover stays stable (no flicker) */
.svgdiv:hover .svginfo,
.svginfo:hover {
  opacity: 1;
  transform: translate(-20%, -10px);
}

/* Optional: small arrow under tooltip */
.svginfo::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
