.trendImages{
    /* background-color: aqua; */
    height: 45vh;
    display: flex;
    justify-content: center;
    gap: 1.25%;
}
.div1{
    /* background-color: black; */
    height: 100%;
    width: 15%;
    display: flex;
    gap: 2.5%;
    flex-direction: column;
}
.divPart1{
    /* background-color: red; */
    height: 60%;
    background-size: 100%;
}
.divPart2{
    /* background-color: wheat; */
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div2{
    display: flex;
    justify-content: center;
}
.divPart2 span{
    text-decoration: line-through;
    color: black;
}
.money{
    color:#80B82D;
}
.divPart2:hover{
    color: black;
}



#pic6{
   
    background-image: url(../safiraImages/product11.jpg);
}

#pic6:hover{
   
    background-image: url(../safiraImages/product12.jpg);
}
#pic7{
    background-image: url(../safiraImages/product15.jpg);
}
#pic7:hover{
    background-image: url(../safiraImages/product16.jpg);
}

#pic8{
    background-image: url(../safiraImages/product17.jpg);
}
#pic8:hover{
    background-image: url(../safiraImages/product18.jpg);
}
#pic9{
    background-image: url(../safiraImages/product14.jpg);
}
#pic9:hover{
    background-image: url(../safiraImages/product19.jpg);
}
#pic10{
    background-image: url(../safiraImages/product16.jpg);
}
#pic10:hover{
    background-image: url(../safiraImages/product19.jpg);
}






.overlayBar {
  position: absolute;
  bottom: -50px;  
  left: 20px;
  width: 80%;
  height: 40px;
  background: white; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  opacity: 0;
  transition: all 0.5s ease;
  border-radius: 100px;
  /* background-color: aqua; */
}
.divPart1:hover .overlayBar {
  bottom: 15px;
  opacity: 1;
}

.svgdiv {
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.svgdiv:hover  {
    background-color: #80B82D;
    color: white;
    border-radius: 100%;
}


.svginfo{
  position: absolute;
  bottom: 40px;  
  left: 00px;
  width: 120px;
  height: 30px;
  background: black; 
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  color: white;
  z-index: 9999;
}

/* Tooltip hover stays stable (no flicker) */
.svgdiv:hover .svginfo,
.svginfo:hover {
  opacity: 1;
  transform: translate(-20%, -10px);
}

/* Optional: small arrow under tooltip */
.svginfo::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
