.trendImages{
    /* background-color: aqua; */
    height: 45vh;
    display: flex;
    justify-content: center;
    gap: 1.25%;
}
.div1{
    /* background-color: black; */
    height: 100%;
    width: 15%;
    display: flex;
    gap: 2.5%;
    flex-direction: column;
}
.divPart1{
    /* background-color: red; */
    height: 60%;
    background-size: 100%;
    position: relative;
    overflow: visible;
    z-index: 10;
}
.divPart2{
    /* background-color: wheat; */
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#div2{
    display: flex;
    justify-content: center;
}
.divPart2 span{
    text-decoration: line-through;
    color: black;
}
.money{
    color:#80B82D;
}
.divPart2:hover{
    color: black;
}



#div1{
    background-image: url(../safiraImages/product1.jpg);
    background-size: 100%;
    cursor: pointer;
    transition: all 0.5s ease;
}
#div1:hover{
    background-image: url(../safiraImages/product9.jpg);
     background-size: 100%;
    cursor: pointer;
    transition: transform 0.2s ease, fill 0.2s ease;
}
#div2:hover{
    background-image: url(../safiraImages/product4.jpg);
     background-size: 100%;
    cursor: pointer;
}
#div2{
    background-image: url(../safiraImages/product3.jpg);
     background-size: 100%;
    cursor: pointer;
}
#div3{
    background-image: url(../safiraImages/product5.jpg);
     background-size: 100%;
    cursor: pointer;
}
#div3:hover{
    background-image: url(../safiraImages/product6.jpg);
     background-size: 100%;
    cursor: pointer;
}
#div4{
    background-image: url(../safiraImages/product7.jpg);
     background-size: 100%;
    cursor: pointer;
}
#div4:hover{
    background-image: url(../safiraImages/product8.jpg);
     background-size: 100%;
    cursor: pointer;
}
#div5{
    background-image: url(../safiraImages/product9.jpg);
     background-size: 100%;
    cursor: pointer;
}
#div5:hover{
    background-image: url(../safiraImages/product10.jpg);
     background-size: 100%;
    cursor: pointer;
}


.overlayBar {
  position: absolute;
  bottom: -50px;  
  left: 20px;
  width: 80%;
  height: 40px;
  background: white; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  opacity: 0;
  transition: all 0.3s ease;
  border-radius: 100px;
 
   box-shadow: 2px 2px 2px;
}
.divPart1:hover .overlayBar {
  bottom: 15px;
  opacity: 1;
}

.svgdiv {
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.svgdiv:hover  {
    background-color: #80B82D;
    color: white;
    border-radius: 100%;
}


.svginfo{
  position: absolute;
  bottom: 40px;  
  left: 00px;
  width: 120px;
  height: 30px;
  background: black; 
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  color: white;
  z-index: 9999;
}

/* Tooltip hover stays stable (no flicker) */
.svgdiv:hover .svginfo,
.svginfo:hover {
  opacity: 1;
  transform: translate(-20%, -10px);
}

/* Optional: small arrow under tooltip */
.svginfo::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}





