.formidpart{
    background-color: aqua;
    height: 130vh;
    width: 100%;
}
.forgapinmid{
    height: 5vh;
    background-color: red;
}
.forimage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.forimage img{
    width: 75%;
}
.forimage h1{
    font-size: 25px;
}
.formattersalign{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forbanner{
    background-size: 100%;
    width: 100%;
    height: 40vh;
    background-image: url(../safiraImages/about-us-policy-bg.jpg);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 2%;
}
.bannerpart1{
    width: 25%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.bannerpart1 img{
    width:  55px;
    height: 55px;
    transition: 0.5s ease;
}
.bannerpart1 h1{
    font-size: 25px;
}
.formatterunderbomma{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: medium;
   
}
.bannerpart1:hover img{
    /* width:  60px;
    height: 60px; */
    transform: scaleX(-1);
}
.woh{
    height: 85vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wohinside{
    background-color: red;
    height: 65vh;
    width: 80%;
    display: flex;
    gap: 2%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}
.wohinsideparts{
    width: 32%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    
}
.wohinsideparts img{
    width: 100%;
    height: 50%;
}
.wohinsideparts h6{
    font-size: 35px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.75);
}
.wohinsidepartsmatter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: green;
    text-align: center;
    font-size: medium;
   
}
