.blog{
    /* background-color: antiquewhite; */
    
}
.blogbanner{
    height: 30vh;
    /* background-color: antiquewhite; */
    background-image: url(../safiraImages/banner18ofregister);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;
}
.blogspart{
    /* background-color: aqua; */
    height: 160vh;
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: center;
}
.blogspart1{
    width: 57.5%;
    /* background-color: aquamarine; */
    height: 150vh;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
}
.blogspart2{
      width: 17.5%;
    /* background-color: aquamarine; */
    height: 150vh;
    display: flex;
    flex-direction: column;
    gap: 1%;
}
.blogpost{
    width: 32%;
    /* background-color: blueviolet; */
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 2.5%;
}
.imgpartblog{
    width: 100%;
    height: 65%;
    background-color: black;
    
}
.imgpartblog img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.blogmatter{
    display: flex;
    flex-direction: column;    
}
.blogmatter p{
    font-size: 20px;
    gap: 0px    ;
}
.spancolor:hover{
    color: green;
    /* background-color: black; */
}
.search{
    width: 100%;
    /* background-color: rgb(255, 155, 127); */
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 0%;
   

}
.search input{
    width: 100%;
    height: 35%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    padding: 10px;
}
.search button{
    width: 30%;
    height: 35%;
    font-size: 12px;
    font-weight: bold;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;

}
.search button:hover{
    background-color: green;
}
.recent{
    height: 20%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 1%;
}
.recentpart{
    height: 32%;
    /* background-color: rgb(57, 65, 65); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.recentpart img{
    border-radius: 100%;
}
.demo{
    color: green;
    cursor: pointer;
    font-size: small;
}
.says{
    /* color: black; */
    cursor: pointer;
    font-size: small;
}
.recentposts{
     height: 16%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 2.5%;
}
.recentpostpart{
    height: 30%;
    /* background-color: rgb(57, 65, 65); */
    display: flex;
    gap: 5%;
}
.recentposts h6{
    font-size: small;
}
.categories p{
    font-size: small;
}
.categories{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 20%;
    /* background-color: antiquewhite; */
    justify-content: center;
}
.tagproducts{
    height: 5%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    
}
.tagproducts button{
    padding: 2.5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    background-color: white;
   
}
.tagproducts button:hover{
    color:  white;
    background-color: green;
}
.buttonbar{
    height: 7vh;
    /* background-color: aqua; */
    margin-left: 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.buttonbar button{
    height: 60%;
    padding: 0px 10px;
    border-radius: 5px;
    border: none;
}
.buttonbar button:hover{
    background-color: green;
    color: white;
}
.forhr{
    /* background-color: antiquewhite; */
    height: 10vh;
    width: 80%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 10%;
}
.forhronfooter{
    /* background-color: lightblue; */
    height: 10vh;
    width: 80%;
     /* border-bottom: 1px solid rgba(0, 0, 0, 0.5); */
    margin-left: 10%;
}

