.shop{
    height: 100vh;
    /* background-color: aqua; */
}
.shopbanner{
    height: 30vh;
    /* background-color: antiquewhite; */
    background-image: url(../safiraImages/banner18ofregister);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;
}
.shopiteams{
    /* background-color: aquamarine; */
    height: 250vh;
    display: flex;
    gap: 1%;
    align-items: center;
    justify-content: center;
}
.verticalPart1{
    /* background-color: rgb(173, 173, 235); */
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1%;
    
}
.verticalPart2{
    background-color: rgb(255, 0, 136);
    width: 55%;
    height: 100%;

}
h3{
    font-size: 15px;

}
.item {
  display: flex;
  justify-content: space-between; /* Places text on left & + on right */
  align-items: center;
  width: 90%;
  margin-left: 5%;
  cursor: pointer;
  gap: 10px;
}
.women{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.filterbyprice{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.filterbyprice input{
    width: 90%;
    margin-left: 5%;
}
.filterbyprice button{
    width: 30%;
    background-color: green;
    height: 125%;
    border: none;
    color: white;
    border-radius: 20px;
}
.filterbyprice button:hover{
    background-color: black;
}
.selectbycolor{
      display: flex;
    flex-direction: column;
    gap: 10px;
}
.productstags{
      display: flex;
    flex-direction: column;
    height: 12.5%;
    gap: 10px;
}
.buts{
    height: 150px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    gap: 10%;
}
.buts button{
    padding: 0px 10px;
    height: 35px;
    text-align: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.185);
    border-radius: 5px;
}
.buts button:hover{
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
}
.bannerofshop{
    height: 25%;
    /* background-color: aqua; */
    background-image: url(../safiraImages/bannerinshop.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}