.upwardbutton {
  position: fixed;
  bottom: 80px;        /* distance from bottom */
  right: 30px;         /* distance from right side */
  z-index: 1000;       /* stay above all content */
  background-color: green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
   
}
/* Hover effect */
.upwardbutton:hover {
  background-color: #80B82D;
  transform: scale(1.1);
}